version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - db

  db:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    ports:
      - '5432:5432'

volumes:
  db:
    driver: local